section {
    font-family: "Kufam", sans-serif;
}
input {
    border-radius: 9999px;
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    border: 1px solid rgb(210, 208, 208);
}
.file{
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    width: 100%;
    height: 300px;
    border: 2px dashed rgba(44, 44, 44, 0.555);
}
label {
    font-size: 20px;
}
.custom-select {
    position: relative;
    
}
.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 9999px;
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    width: 100%;
    border: 1px solid rgb(210, 208, 208);
}
.Filelabel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
