@import url("../../../../../UI/CustomsCss/Custombutton.css");
body {
  overflow: visible;
}
.item-data {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: #000000;
  background-color: #3d396e !important;
}
table thead {
  color: #f2f2f2;
  background: #383651;
}
table thead th:nth-child(1) {
  border-top-right-radius: 5px;
}
table thead th:nth-child(2) {
  border-top-left-radius: 5px;
}
table tbody tr td {
  padding: 10px;
}
table tbody tr td:nth-child(2) {
  background-color: #dbd9d9;
}
table tbody tr td:nth-child(1) {
  color: #f2f2f2;
  background-color: #383651;
}
.main {
  margin: 10px auto;
}
.response input {
  border: solid 2px rgba(128, 0, 128, 0.244);
  border-radius: 0.5rem;
}
.response input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: solid 2px rgba(128, 0, 128, 0.581);
}

.response-confirmation {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.807);
}
input[disabled] {
  background: linear-gradient(to left, #d9d9d9, #f3f3f3);
}
