@import url("../../../../../UI/CustomsCss/Custombutton.css");
body {
  overflow: visible;
}
.item-data {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.tx-era {
  background: linear-gradient(to left, #d9d9d9, #f3f3f3);
  min-height: 20rem;
  overflow: hidden;
}
.response input {
  border: solid 2px rgba(128, 0, 128, 0.244);
  border-radius: 0.5rem;
}
.response input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: solid 2px rgba(128, 0, 128, 0.581);
}

.response-confirmation {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.807);
}
input[disabled] {
  background: linear-gradient(to left, #d9d9d9, #f3f3f3);
}
