button {
    cursor: pointer;
    color: white;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-width: 0.5px;
    font-size: 1.25rem;
    background: linear-gradient(to left, #e546e8, #4d394d);
    border-radius: 9999px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
}
button::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: white;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

button:not(.disabledBtn):hover::before {
    scale: 3;
}

button:not(.disabledBtn):hover {
    color: #5C2C7E;
    transform: scale(1);
    border: 0.5px solid #5C2C7E;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

button:active {
    scale: 1;
}

.disabledBtn {
    opacity: 0.5;
}
/* button:hover {
    transform: scale(1.1);
} */
