input {
    border-radius: 9999px;
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    border: 1px solid rgb(210, 208, 208);
}
label {
    font-size: 20px;
}
.custom-select {
    position: relative;
}
.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 9999px;
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    border: 1px solid rgb(210, 208, 208);
}


select option {
    font-size: 14px; 
}
select:focus {
    
}