@tailwind base;
@tailwind components;
@tailwind utilities;

section{
    font-family: "Kufam", sans-serif;
}
.item-data{
    background: linear-gradient(to left, #D9D9D9, #F3F3F3);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
.custom-scrollbar {
    scrollbar-width: auto;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 100px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5c2c7e; /* Thumb color */
    border-radius: 4px; /* Rounded corners for the thumb */
    height: 100px;
}
@media (max-width: 1000px){
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 10px;
    }
}
