@tailwind base;
@tailwind components;
@tailwind utilities;

section,
div:first-child {
  font-family: "Kufam", sans-serif;
}
.item-data {
  background: linear-gradient(to left, #e8e8e8, #f3f3f3);
  border: 1px dashed #3a0061;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.linear {
  background: linear-gradient(to left, #ffffff, #e5e4e4);
}
.linear2 {
  background: linear-gradient(to right, #ffffff, #e5e4e4);
}
.custom-scrollbar {
  scrollbar-width: auto;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 100px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #5c2c7e;
  border-radius: 4px;
  height: 100px;
}
html {
  scroll-behavior: smooth;
}
@media (max-width: 1000px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
}
